---
import Icon from "astro-icon";
import { getCollection } from "astro:content";

import MainLayout from "~/layouts/main-layout.astro";

import Content from "~/components/content.astro";
import Heading from "~/components/heading.astro";
import Pill from "~/components/pill.astro";
import SampleCard from "~/components/sample-card.astro";
import SectionHeader from "~/components/section-header.astro";
import Button from "~/components/button.astro";

export async function getStaticPaths() {
  const samples = await getCollection("samples");
  return samples.map((sample, index) => ({
    params: {
      slug: sample.slug,
    },
    props: {
      entry: sample,
      next: samples?.[index + 1] ?? samples[0],
    },
  }));
}

const { entry, next } = Astro.props;
const { Content: Markdown } = await entry.render();
---

<MainLayout title={entry.data.title} description={entry.data.purpose}>
  <div class="flex flex-col gap-12">
    <Content>
      <Icon name="book-open" class="h-6 w-6 text-main-600" />
      <Heading>{entry.data.title}</Heading>
      <p>
        {entry.data.purpose}
      </p>
    </Content>
    <hr class="w-full border-t-2 border-gray-100" />
    <Content
      class="prose prose-headings:m-0 prose-headings:text-xl prose-headings:font-semibold prose-headings:text-black prose-p:m-0"
    >
      <Markdown />
    </Content>
    <hr class="w-full border-t-2 border-gray-100" />
    <div class="flex w-full flex-col gap-4">
      <div class="flex justify-between bg-white">
        <p class="text-gray-400">Type</p>
        <p>{entry.data.type}</p>
      </div>
      <div class="flex justify-between bg-white">
        <p class="text-gray-400">Area</p>
        <p>{entry.data.area}</p>
      </div>
      <div class="flex justify-between bg-white">
        <p class="text-gray-400">Location</p>
        <p>{entry.data.where}</p>
      </div>
    </div>
    <hr class="w-full border-t-2 border-gray-100" />
    <SampleCard sample={next} next />
  </div>
</MainLayout>
