---
import Icon from "astro-icon";
import { getCollection } from "astro:content";

import MainLayout from "~/layouts/main-layout.astro";
import Title from "~/components/title.astro";

const samples = await getCollection("samples");
---

<MainLayout
  title="Samples | Beth Freeman"
  description="Some samples of copywriting Beth has collated to represent her flexiblity, tone, and writing style."
>
  <main class="grid grid-cols-1 gap-24 px-8 py-12 md:grid-cols-3">
    <Title>
      Here's a highlight reel of some of the best copy I've put together
    </Title>
    <div class="scrollbar-hide col-span-2 flex gap-4 overflow-x-scroll">
      {
        samples.map((sample) => (
          <a
            href={"/samples/" + sample.slug}
            class="flex aspect-[5/4] w-72 flex-shrink-0 basis-72 flex-col gap-8 rounded bg-white p-6"
          >
            <div class="flex justify-between">
              <div class="flex flex-col">
                <h3 class="text-lg font-semibold">{sample.data.title}</h3>
                <p>{sample.data.type}</p>
              </div>
              <Icon name="book-open" class="h-6 w-6" />
            </div>
            <p>{sample.data.purpose}</p>
            <div class="flex flex-row flex-wrap gap-2">
              <p class="rounded-full border-2 border-gray-200 px-3 py-1 text-sm text-gray-400">
                {sample.data.area}
              </p>
              <p class="rounded-full border-2 border-gray-200 px-3 py-1 text-sm text-gray-400">
                {sample.data.where}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</MainLayout>
